# OS garbage
.DS_Store
Thumbs.db

# prevent accidental zone identifier files
*.Zone.Identifier

# Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
.virtualenv/

# Data files
*.npy
*.npz
*.json

# IDE/editor settings
.vscode/
.idea/

# Git should never see itself
.git/
.github_token
